@{
    ViewData["Title"] = "Home Page";
}

<div class="CenterForm">
        <div class="form-group">
            <input type="text" placeholder="Search" id="searchText" class="form-control"/>
        </div>
        <div class="form-group">
            <select id="categories" class="form-control">
            </select>
        </div>
    </div>
    <div class="row" style="padding-top: 5px;min-height: 30px;max-height: 30px; background-color: #4771a9; font-size: small; color:white">
        <div class="col-5">Title</div>
        <div class="col">Publication date</div>
        <div class="col">Number of response</div>
    </div>
    <div id="content" >

    </div>
</div>

<script>
    $(document).ready(function()
    {
        var QuestTick = setInterval(Check,100);
        var li = [];
        var CategoryTick = setInterval(CheckCategory,100); 
        var categories = [];
        var searchAccess = true;
        
        function CheckCategory()
        {
            $.ajax('/Home/Categories/').done(function (data)
            {
                if(categories == null)
                {
                    categories = data;
                    ShowCategory(categories);
                }
                else
                {
                    if(categories.length != data.length)
                    {
                        categories = data;
                        ShowCategory(categories);
                    }
                    else
                    {
                        var access = false;
                        for(var i = 0; i < data.length; i++)
                        {
                            if(categories[i].categoryText != data[i].categoryText)
                            {
                                access = true;
                            }
                        }
                        if(access)
                        {
                            categories = data;
                            ShowCategory(categories);
                        }
                    }
                }
            });
        }

        $("#categories").blur(function ()
        {
            var form = new FormData();
            form.append("text", $("#categories").val());
            var settings = {
                "url": "https://localhost:5001/Home/Search/",
                "method": "POST",
                "processData": false,
                "contentType": false,
                "data": form
            };
            $.ajax(settings).done(function (response) {
                li = response;
                Show(li);
                searchAccess = $("#categories").val() == 0 ? true : false;
            });
        });

        function ShowCategory(data)
        {
            $("#categories").empty();
            $("#categories").append('<option value="0">All</option>');
            for(var i = 0; i < data.length;i++)
            {
                $("#categories").append('<option value="'+data[i].id+'">'+data[i].categoryText+'</option>');
            }
        }

        $("#searchText").change(function ()
        {
            var form = new FormData();
            form.append("text", $("#searchText").val());
            var settings = {
                "url": "https://localhost:5001/Home/Search/",
                "method": "POST",
                "processData": false,
                "contentType": false,
                "data": form
            };
            $.ajax(settings).done(function (response) {
                li = response;
                Show(li);
                searchAccess = false;
            });
        });

        function Check()
        {
            $.ajax('/Home/Questions/').done(function (data)
            {
                if(searchAccess)
                {
                if(li == null)
                {
                    li = data;
                    Show(li);
                }
                else
                {
                    if(li.length != data.length)
                    {
                        li = data;
                        Show(li);
                    }
                    else
                    {
                        var access = false;
                        for(var i = 0; i < data.length;i++)
                        {
                            if(data[i].questionTitle != li[i].questionTitle || 
                            data[i].questionText != li[i].questionText ||
                            data[i].pubDate != li[i].pubDate)
                            {
                                access = true;
                            }
                            if(access)
                            {
                                li = data;
                                Show(li);
                            }
                        }
                    }
                }
                }
            });
        }
        function Show(data)
        {
            $("#content").empty();
            for(var i = 0; i < data.length;i++)
            {
                $("#content").append('<div class="row"><div class="col-5"><a class="nav-link" href="/Home/Question/'+data[i].id+'">'+data[i].title+'</a></div><div class="col">'+data[i].pubDate+'</div><div class="col">'+data[i].countOfAnswers+'</div></div>');
            }
        }
    });
</script>