@model ChaVoV1.Models.Question

@{
    ViewData["Title"] = Model.QuestionTitle;
}

<div class="CenterForm card">
    <input type="hidden" value="@Model.Id" id="Id"/>
    <div class="card-header m-0 border-0">
        <h1 class="text-center">@Model.QuestionTitle</h1>
    </div>
    <div class="card-body">
        <p style="width: 100%;padding: 10px;margin: 0;">@Model.QuestionText</p>
        <i>@Model.PubDate.ToShortDateString()</i>
        <button style="float: right;" class="btn border-info" id="AddComment">Response</button>
        <div id="contextAnswer">
            <div>
                <p>
                    <textarea spellcheck="true" aria-multiselectable="false" class="scrollable form-control list-group-item" id="answer" style="min-height: 200px; width: 100%;max-height:300px;resize:none;"></textarea>
                </p>
            </div>
            <div><button class="btn btn-primary form-control" id="leaveAnComment">Response</button></div>
        </div>
    </div>
</div>

        
<div class="CenterForm text-center" style="background-color: #4771a9;border-top-left-radius: 10px;border-top-right-radius: 10px;">
    <label style="color: white;" class="">Answers</label>
</div>
<div class="CenterForm list-group-item">
    <div id="answers" class="pre-scrollable" style="max-height: 500px;">

    </div>
</div>
<script>
    $(document).ready(function ()
    {
        var aces = true;
        $("#contextAnswer").hide();
        $("#AddComment").click(function ()
        {
            if(aces)
            {
                $("#contextAnswer").show();
            }
            else
            {
                $("#contextAnswer").hide();
            }
            aces = !aces;
        });
        var tick = setInterval(Answers,100);
        var li = [];
        $("#leaveAnComment").click(function ()
        {
            var form = new FormData();
            form.append("id", $("#Id").val());
            form.append("text", $("#answer").val());
            var settings = {
                "url": "https://localhost:5001/Home/AddAnswer/",
                "method": "POST",
                "processData": false,
                "contentType": false,
                "data": form
            };
            $.ajax(settings).done(function (data)
            {
                if(data == "NotAuthed")
                {
                    alert("For responsing you have to signin or signup!");
                }
                else if(data == "Error")
                {
                    alert("There was an error!");
                }
            });
        });
        function Answers()
        {
            $.ajax('/Home/Answers/'+$("#Id").val()).done(function (data)
            {
                if(li == null)
                {
                    li = data;
                    Show(li);
                }
                else
                {
                    if(li.length != data.length)
                    {
                        li = data;
                        Show(li);
                    }
                }
            });
        }
        function Show(data)
        {
            $("#answers").empty();
            for(var i = 0; i < data.length; i++)
            {
                $("#answers").append('<div class="row border-primary"><div class="col-12"><b>'+data[i].userName+'</b><p>'+data[i].text+'<p></div></div>');
            }
        }
    });
</script>