@model List<ChaVoV1.Models.Question>
@{
    ViewData["Title"] = "Questions";
}
<div class="CenterForm">
    <form asp-controller="Question" asp-action="List" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly"></div>
        <select name="id" class="form-group">
            <option value="0">
                All
            </option>
            @foreach (var x in ViewBag.Categories)
            {
                <option value="@x.Id">
                    <b>@x.CategoryText</b>
                </option>
            }
        </select>
        <input type="submit" value="Ok" class="btn btn-primary"/>
        <a asp-controller="Question" asp-action="Add" class="btn btn-success">Add new question</a>
    </form>
    <div class="row">
        @foreach (var x in Model)
        {
            <div class="card container">
                <div class="card-header">
                    <a class="nav-link" asp-controller="Question" asp-action="Edit" asp-route-id="@x.Id"><b>@x.QuestionTitle</b></a>
                </div>
            </div>
            <br>
        }
    </div>
</div>